
body {
  background: black;
  color: white;
}
.songs {
  margin: 20px auto;
  border: 1px solid red;
  width: 80%;
}

#kosandra {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 84px;
}

.shadow {
  visibility: hidden;
  /*width: 200px;*/
  /*height: 200px;*/
  border: 1px solid red;
  /*border-radius: 84px;*/
}


.column-up, .column-low {
  display: flex;
  justify-content: space-around;
}
.column-middle {
  display: flex;
  justify-content: space-between;
}